@use "./mixins" as *;
@use "./variables" as *;

// RESETS
* {
    box-sizing: border-box;
}

a,
body,
button,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
    margin: 0;
    padding: 0;
}

// GLOBAL GENERAL
body {
    font-family: "Avenir Next", sans-serif;
}

.header {
    @include flexbox(column, normal, normal);
    padding-top: $spacing-xsm;
    background-color: $primary-color-bandsite-black;
    @include font-body($secondary-color-mercury);

    @include tablet {
        @include flexbox(row, normal, center);
        gap: calc($spacing-xsm * 3.5);
        padding: 0 0 0 $spacing-med;
        @include font-dt-body($secondary-color-mercury, $font-weight-regular);
    }

    @include desktop {
        padding: 0 0 0 $spacing-xlg;
        @include font-dt-body($secondary-color-mercury, $font-weight-regular);
    }
}

.logo {
    &--header {
        @include flexbox(row, center, center);
    }

    &--footer-top {
        display: none;

        @include tablet {
            position: absolute;
            top: 10px;
            right: 0;
            display: inline-block;
            width: 7.5rem;
            height: 1.25rem;
            @include background-image-logo;
        }
    }

    &--footer-bottom {
        margin-top: $spacing-sm;
        width: 7.5rem;
        height: 1.25rem;
        @include background-image-logo;

        @include tablet {
            display: none;
        }
    }

    &__link {
        width: 7.5rem;
        height: 1.25rem;
        @include background-image-logo;
    }
}

.nav {
    &__list {
        @include flexbox(row, space-around, normal);
        height: 2.5rem;
        list-style-type: none;

        @include tablet {
            gap: calc($spacing-xsm * 3.5);
            height: 4rem;
        }

        @include desktop {
            height: 5rem;
        }
    }

    &__item {
        @include flexbox(row, center, center);
        width: 100%;

        &--active {
            border-top: 3px transparent solid;
            border-bottom: 3px $primary-color-white solid;
            color: $primary-color-white;
            font-weight: $font-weight-demi;

            & .nav__link {
                color: $primary-color-white;
            }
        }

        &:hover {
            border-top: 3px transparent solid;
            border-bottom: 3px $primary-color-white solid;
        }

        &:hover .nav__link {
            color: $primary-color-white;
        }

        &:active .nav__link {
            font-weight: $font-weight-demi;
        }
    }

    &__link {
        color: $secondary-color-mercury;
        text-decoration: none;
    }
}

.hero {
    position: relative;
    padding: 0 $spacing-xsm;
    height: 60vw;

    @include tablet {
        padding: 0 $spacing-med;
    }

    @include desktop {
        padding: 0 $spacing-xlg;
        height: 50vw;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color-bandsite-black;
        opacity: 50%;
    }

    &__title {
        position: relative;
        z-index: 1;
        @include font-header($primary-color-white);

        @include tablet {
            @include font-dt-page-header;
        }
    }
}

.btn-container {
    @include flexbox(column, normal, normal);
}

.btn {
    @include flexbox(column, center, center);
    height: 40px;
    padding: 0 $spacing-med;
    border-radius: 4px;
    background-color: $primary-color-bandsite-black;
    @include font-body($primary-color-white);
    border-style: none;

    @include tablet {
        @include flexbox(row, center, center);
        flex: 1;
        max-width: 25%;
        @include font-dt-body($primary-color-white, $font-weight-demi);
    }
}

.label {
    // @include flexbox(column, normal, normal);
    // gap: $spacing-xsm;
    @include font-tiny($primary-color-silver, $font-weight-demi);
}

.footer {
    @include flexbox(column, normal, normal);
    gap: $spacing-sm;
    padding: $spacing-sm $spacing-xsm;
    background-color: $primary-color-bandsite-black;

    @include tablet {
        gap: $spacing-med;
        padding: $spacing-lg $spacing-med;
    }

    @include desktop {
        padding: $spacing-lg $spacing-xlg;
    }

    &__socials-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;

        @include tablet {
            @include flexbox(row, normal, baseline);
            gap: $spacing-med;
        }

        @include tablet {
            position: relative;
            gap: calc($spacing-xsm * 4);
        }
    }

    &__title {
        @include font-header($primary-color-white);

        @include tablet {
            @include font-dt-section-header($primary-color-white);
        }
    }

    &__icon-container {
        @include flexbox(row, normal, normal);
        gap: $spacing-med;
    }

    &__link {
        @include flexbox(row, normal, center);
    }

    &__icon {
        height: $spacing-sm;
    }

    &__info-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-sm;

        @include tablet {
            @include flexbox(row, space-between, normal);
        }

        @include desktop {
            @include flexbox(row, normal, normal);
            gap: calc($spacing-xsm * 5);
        }
    }

    &__contact-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
        @include font-body($secondary-color-mercury);

        @include tablet {
            gap: $spacing-sm;
            @include font-dt-body($secondary-color-mercury, $font-weight-regular);
        }
    }

    &__org {
        @include font-subheader(0, 0, $secondary-color-mercury);

        @include tablet {
            @include font-dt-body($secondary-color-mercury, $font-weight-demi);
        }
    }

    // &__details-container {
    // }

    // &__details {
    // }

    &__email {
        & a {
            color: $secondary-color-mercury;
            text-decoration: none;
        }
    }

    &__copyright-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
    }

    &__copyright {
        @include font-tiny($secondary-color-mercury, $font-weight-regular);

        @include tablet {
            @include font-dt-body($secondary-color-mercury, $font-weight-regular);
        }
    }
}
