@use "./mixins" as *;
@use "./variables" as *;

// RESETS
* {
    box-sizing: border-box;
}

a,
body,
footer,
h1,
h2,
h3,
header,
html,
img,
li,
p,
section,
span,
ul {
    margin: 0;
    padding: 0;
}

// GLOBAL GENERAL
body {
    @include mobile {
        margin: 0 1rem;
        width: 100%;
    }
    font-family: "Avenir Next";
}
