@use "./variables" as *;

// BREAKPOINTS
@mixin tablet {
    @media (min-width: ($breakpoint-max-mobile + 1)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($breakpoint-max-tablet + 1)) {
        @content;
    }
}

// FONT STYLES - MOBILE
@mixin font-header($color) {
    padding: 1.5rem 1rem 1rem 1rem;
    color: $color;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 2rem;
}

@mixin font-subheader($color) {
    padding: 1.5rem 1rem 1rem 1rem;
    color: $color;
    font-size: $font-size-large;
    font-weight: $font-weight-demi;
    line-height: 1.375rem;
}

@mixin font-body($color) {
    color: $color;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    line-height: 1.125rem;
}

@mixin font-label {
    color: $primary-color-white;
    background-color: $primary-color-bandsite-black;
    font-size: $font-size-label;
    font-weight: $font-weight-bold;
    line-height: 1.25rem;
}

// FONT STYLES - DESKTOP + TABLET
@mixin font-dt-page-header($color) {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    color: $color;
    font-size: $font-size-dt-largest;
    font-weight: $font-weight-bold;
    line-height: 4.25rem;
}

@mixin font-dt-section-header($color) {
    color: $color;
    font-size: $font-size-dt-large;
    font-weight: $font-weight-bold;
    line-height: 2.75rem;
}

@mixin font-dt-subheader($color) {
    color: $color;
    font-size: $font-size-dt-medium;
    font-weight: $font-weight-demi;
    line-height: 2rem;
}

@mixin font-dt-body($color) {
    color: $color;
    font-size: $font-size-dt-body;
    font-weight: $font-weight-regular;
    line-height: 1.375rem;
}

@mixin font-dt-footer($color) {
    color: $color;
    font-size: $font-size-dt-body;
    font-weight: $font-weight-regular;
    line-height: 1.25rem;
}

@mixin font-dt-label($color) {
    color: $color;
    font-size: $font-size-dt-label;
    font-weight: $font-weight-bold;
    line-height: 1.25rem;
}

// FLEXBOX
@mixin flex-column {
    display: flex;
    flex-flow: column wrap;
}

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
}

@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-items-center {
    display: flex;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
}
