@use "./variables" as *;

// BREAKPOINTS
@mixin tablet {
    @media (min-width: ($breakpoint-min-tablet)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: ($breakpoint-min-desktop)) {
        @content;
    }
}

// FLEXBOX

@mixin flexbox($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// CSS IMAGE
@mixin background-image-logo {
    background-image: url("../../assets/logos/Logo-bandsite.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@mixin background-image-hero-index {
    background-image: url("../../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
}

@mixin background-image-hero-shows {
    background-image: url("../../assets/images/hero-shows.jpg");
    background-position: center;
    background-size: cover;
}

// FONT STYLES - MOBILE
@mixin font-header($color) {
    color: $color;
    font-size: $font-size-large;
    font-weight: $font-weight-demi;
    line-height: 2rem;
}

@mixin font-subheader($margin-top, $margin-bottom, $color) {
    margin: $margin-top 0 $margin-bottom;
    color: $color;
    font-size: $font-size-medium;
    font-weight: $font-weight-demi;
    line-height: 1.375rem;
}

@mixin font-body($color) {
    color: $color;
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    line-height: 1.125rem;
}

@mixin font-tiny($color, $font-weight) {
    color: $color;
    font-size: $font-size-tiny;
    font-weight: $font-weight;
    line-height: 1.25rem;
}

// FONT STYLES - DESKTOP + TABLET
@mixin font-dt-page-header {
    color: $primary-color-white;
    font-size: $font-size-dt-largest;
    font-weight: $font-weight-demi;
    line-height: 4.25rem;
}

@mixin font-dt-section-header($color) {
    color: $color;
    font-size: $font-size-dt-large;
    font-weight: $font-weight-demi;
    line-height: 2.75rem;
}

@mixin font-dt-subheader($margin-top, $margin-bottom, $color) {
    margin: $margin-top 0 $margin-bottom;
    color: $color;
    font-size: $font-size-dt-medium;
    font-weight: $font-weight-demi;
    line-height: 2rem;
}

@mixin font-dt-body($color, $font-weight) {
    color: $color;
    font-size: $font-size-dt-body;
    font-weight: $font-weight;
    line-height: 1.375rem;
}

@mixin font-dt-tiny($color) {
    color: $color;
    font-size: $font-size-dt-tiny;
    font-weight: $font-weight-demi;
    line-height: 1.25rem;
}
