// COLORS
$primary-color-bandsite-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$secondary-color-bandsite-black: #000000;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

// FONT SIZE - MOBILE
$font-size-large: 1.5rem;
$font-size-medium: 1.375rem;
$font-size-body: 0.8125rem;
$font-size-label: 0.625rem;

// FONT SIZE - DESKTOP + TABLET
$font-size-dt-largest: 3.75rem;
$font-size-dt-large: 2.25rem;
$font-size-dt-medium: 1.5rem;
$font-size-dt-body: 0.875rem;
$font-size-dt-label: 0.75rem;

// FONT WEIGHT
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

// BREAKPOINTS
$breakpoint-min-tablet: 768px;
$breakpoint-min-desktop: 1280px;
