* {
  box-sizing: border-box;
}

a,
body,
footer,
h1,
h2,
h3,
header,
html,
img,
li,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", sans-serif;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding-top: 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 3.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 0 0 0 2.5rem;
    height: 4rem;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 3.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 0 0 0 8rem;
    height: 6rem;
  }
}

.logo--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo--footer-top {
  display: none;
}
@media (min-width: 768px) {
  .logo--footer-top {
    display: inline-block;
    position: absolute;
    right: 0;
    background-image: url(../assets/logos/Logo-bandsite.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 7.5rem;
    height: 1.25rem;
  }
}
.logo--footer-bottom {
  background-image: url(../assets/logos/Logo-bandsite.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 0 0.5rem 0;
  width: 7.5rem;
  height: 1.25rem;
}
@media (min-width: 768px) {
  .logo--footer-bottom {
    display: none;
  }
}
.logo__link {
  background-image: url(../assets/logos/Logo-bandsite.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 1.25rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  list-style-type: none;
  height: 5vh;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 3.5rem;
  }
}
.nav__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__item {
    height: 100%;
  }
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
}
.nav__item:hover:active {
  border-bottom: 2px #ffffff solid;
  color: #ffffff;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  position: relative;
  height: 60vw;
  padding: 0 1rem;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2.5rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 50vw;
    padding: 0 8rem;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero__title {
  padding: 0 0 0 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__title {
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.25rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about {
    gap: 1.5rem;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
  }
}
@media (min-width: 1280px) {
  .about {
    gap: 2rem;
    padding: 4rem 8rem 2.5rem 8rem;
  }
}
.about__title {
  padding: 0 0 0 0;
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .about__title {
    color: #323232;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
.about__dt-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about__dt-container {
    padding: 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .about__dt-container {
    gap: 1.5rem;
    padding: 0 5.5rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0.5rem;
}
@media (min-width: 1280px) {
  .about__container {
    gap: 1rem;
  }
}
.about__image {
  height: 50vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}
@media (min-width: 768px) {
  .about__image {
    height: 40vw;
    -o-object-position: center center;
       object-position: center center;
  }
}
@media (min-width: 1280px) {
  .about__image {
    height: 35vw;
    -o-object-position: center center;
       object-position: center center;
  }
}
.about__quote {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .about__quote {
    padding-top: 1.5rem;
    color: #323232;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    padding-top: 1.5rem;
  }
}
.about__quote-author {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__quote-author {
    color: #323232;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
  }
}
.about__subtitle {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .about__subtitle {
    color: #323232;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    padding-top: 2rem;
  }
}
.about__para-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about__para-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 2rem;
  }
}
.about__detail {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__detail {
    color: #323232;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery {
    gap: 1.5rem;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    gap: 2rem;
    padding: 4rem 8rem 2.5rem 8rem;
  }
}
.gallery__title {
  padding: 0 0 0 0;
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .gallery__title {
    color: #323232;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
.gallery__image {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  flex-grow: 1;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__image {
    width: 30%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 2.5rem;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 8rem;
  }
}
.footer__socials-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer__socials-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: baseline;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__socials-container {
    position: relative;
    gap: 4rem;
  }
}
.footer__title {
  padding: 0 0 0 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .footer__title {
    color: #ffffff;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
.footer__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 2rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 5rem;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__contact-container {
    gap: 1.5rem;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}
.footer__org {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__org {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
  }
}
.footer__copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0.5rem;
}
.footer__copyright {
  color: #ffffff;
  background-color: #323232;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}/*# sourceMappingURL=bio.css.map */