@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// .main {
// }

.hero {
    @include flexbox(column, center, normal);
    height: 12rem;
    @include background-image-hero-index;

    @include tablet {
        height: 28.75rem;
    }

    @include desktop {
        height: 40rem;
    }
}

.about {
    @include flexbox(column, normal, normal);
    gap: $spacing-xsm;
    padding: $spacing-sm $spacing-xsm $spacing-xsm;

    @include tablet {
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-med $spacing-med;
    }

    @include desktop {
        gap: $spacing-med;
        padding: calc($spacing-xsm * 4) $spacing-xlg $spacing-lg;
    }

    &__title {
        @include font-header($secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($secondary-color-bandsite-black);
        }
    }

    &__dt-container {
        @include flexbox(column, normal, normal);

        @include tablet {
            padding: 0 calc($spacing-xsm * 3.5);
        }

        @include desktop {
            padding: 0 calc($spacing-xsm * 5.5);
        }
    }

    &__image {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        object-position: bottom center;

        @include tablet {
            height: 40vw;
            object-position: center center;
        }

        @include desktop {
            height: 35vw;
            object-position: center center;
        }
    }

    &__quote {
        @include font-subheader(
            $spacing-xsm,
            calc($spacing-xsm * 0.5),
            $secondary-color-bandsite-black
        );

        @include tablet {
            @include font-dt-subheader(
                $spacing-med,
                $spacing-xsm,
                $secondary-color-bandsite-black
            );
        }

        @include desktop {
            margin: calc($spacing-xsm * 2.5) 0 $spacing-xsm;
            width: 77%;
        }
    }

    &__quote-author {
        @include font-subheader(0, 0, $secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-body($secondary-color-bandsite-black, $font-weight-demi);
        }
    }

    &__subtitle {
        @include font-subheader(
            $spacing-sm,
            $spacing-xsm,
            $secondary-color-bandsite-black
        );

        @include tablet {
            @include font-dt-subheader(
                calc($spacing-xsm * 3.5),
                $spacing-sm,
                $secondary-color-bandsite-black
            );
        }
    }

    &__para-container {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;

        @include tablet {
            @include flexbox(row, normal, normal);
            gap: $spacing-med;
        }
    }

    &__detail {
        @include font-body($secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-body($secondary-color-bandsite-black, $font-weight-regular);
        }
    }
}

.gallery {
    @include flexbox(column, normal, normal);
    gap: $spacing-xsm;
    padding: $spacing-sm $spacing-xsm $spacing-xsm;
    background-color: $secondary-color-alabaster;

    @include tablet {
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-med $spacing-med;
    }

    @include desktop {
        gap: $spacing-med;
        padding: calc($spacing-xsm * 4) $spacing-xlg $spacing-lg;
    }

    &__title {
        @include font-header($secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($secondary-color-bandsite-black);
        }
    }

    &__container {
        @include flexbox(column, normal, normal);
        flex-wrap: wrap;
        gap: $spacing-xsm;

        @include tablet {
            @include flexbox(row, center, center);
            gap: $spacing-sm;
        }
    }

    &__image {
        @include flexbox(row, normal, normal);
        flex-grow: 1;
        width: 100%;
        filter: grayscale(80%);

        &:hover {
            filter: none;
        }

        @include tablet {
            width: 30%;
        }
    }
}

.comment {
    @include flexbox(column, normal, normal);
    gap: $spacing-xsm;
    padding: $spacing-sm $spacing-xsm $spacing-xsm;

    @include tablet {
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-med $spacing-med;
    }

    @include desktop {
        gap: $spacing-med;
        padding: calc($spacing-xsm * 4) $spacing-xlg $spacing-lg;
    }

    &__dt-container {
        @include flexbox(column, normal, normal);

        @include tablet {
            padding: 0 calc($spacing-xsm * 3.5);
        }

        @include desktop {
            padding: 0 calc($spacing-xsm * 5.5);
        }
    }

    &__title {
        @include font-header($secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($secondary-color-bandsite-black);
        }
    }

    &__input {
        position: relative;
        padding: 0 0 $spacing-xsm calc($spacing-xsm * 3.75);
        border-bottom: 1px solid $secondary-color-mercury;
    }

    &__image-container {
        position: absolute;
        top: 27px;
        left: 0;
        width: 2.25rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
        background-color: $secondary-color-mercury;

        @include tablet {
            width: 3rem;
        }

        &--list {
            top: $spacing-xsm;
        }
    }

    &__image {
        height: 100%;
        aspect-ratio: auto;
    }

    &__list {
        @include flexbox(column, normal, normal);
        list-style-type: none;
    }

    &__item {
        position: relative;
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
        padding: $spacing-xsm 0 $spacing-xsm calc($spacing-xsm * 3.25);
        border-bottom: 1px solid $secondary-color-mercury;
        @include font-body($secondary-color-bandsite-black);

        @include tablet {
            padding: $spacing-xsm 0 $spacing-xsm calc($spacing-xsm * 3.75);
            @include font-dt-body($secondary-color-bandsite-black, $font-weight-regular);
        }
    }

    &__content-container {
        @include flexbox(row, space-between, center);
    }

    &__name {
        font-weight: $font-weight-demi;
    }

    &__date {
        color: $primary-color-silver;
    }

    // &__comment-text {
    // }
}

.form {
    @include flexbox(column, normal, normal);
    gap: $spacing-xsm;

    &__container {
        @include flexbox(column, normal, normal);
    }

    // &__container--btn {
    // }

    &__input {
        min-height: 2.25rem;
        width: 100%;
        margin-top: 0.25rem;
        padding: 0.75rem;
        border: 1px solid $primary-color-silver;
        border-radius: 4px;
        background-color: $secondary-color-alabaster;
        font-family: "Avenir Next", sans-serif;
        color: $secondary-color-bandsite-black;
        resize: none;

        @include tablet {
            padding: $spacing-xsm;
        }
    }
}

::placeholder {
    color: $secondary-color-bandsite-black;
}
