* {
  box-sizing: border-box;
}

a,
body,
footer,
h1,
h2,
h3,
header,
html,
img,
li,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding-top: 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }
}

.logo--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo--left {
  padding-top: 2rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  list-style-type: none;
}
.nav__item {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  width: 100%;
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
}
.nav__item:hover {
  border-bottom: 2px #ffffff solid;
  color: #ffffff;
}
.nav__item .nav__link:active {
  font-weight: 600;
  border-bottom: 2px #ffffff solid;
  color: #ffffff;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  position: relative;
  height: 60vw;
  padding: 0 1rem;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #323232;
  opacity: 50%;
  width: 100%;
  height: 100%;
}
.hero__title {
  padding: 0 0 0 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  position: relative;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
.about__title {
  padding: 0 0 0 0;
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
.about__image {
  width: 100%;
}
.about__quote {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
}
.about__quote-author {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
}
.about__subtitle {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  padding-top: 0.5rem;
}
.about__detail {
  color: #323232;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #fafafa;
}
.gallery__title {
  padding: 0 0 0 0;
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
.gallery__image {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: #323232;
}
.footer__socials-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
.footer__title {
  padding: 0 0 0 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.footer__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 2rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5rem;
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.footer__org {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
}
.footer__copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0.5rem;
}
.footer__copyright {
  color: #ffffff;
  background-color: #323232;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
}/*# sourceMappingURL=bio.css.map */