@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.header {
    @include flexbox(column, normal, normal);
    padding-top: 1rem;
    @include font-body($primary-color-white);
    background-color: $primary-color-bandsite-black;

    @include tablet {
        @include flexbox(row, normal, normal);
        @include font-dt-body($primary-color-white);
    }

    @include desktop {
        @include flexbox(row, center, normal);
    }
}

.logo {
    &--header {
        @include flexbox(row, center, center);
    }

    &--footer {
        padding-top: 2rem;

        @include tablet {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    //     &__link {
    //     }

    &__image {
        width: 7.5rem;
    }
}

.nav {
    &__list {
        @include flexbox(row, space-around, normal);
        list-style-type: none;
    }

    &__item {
        padding: 1rem 0;
        @include flexbox(row, center, normal);
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: $secondary-color-mercury;
    }

    &__item:hover {
        border-bottom: 2px $primary-color-white solid;
        color: $primary-color-white;
    }

    &__item &__link:active {
        font-weight: $font-weight-demi;
        border-bottom: 2px $primary-color-white solid;
        color: $primary-color-white;
    }
}

// .main {
// }

.hero {
    @include flexbox(row, normal, center);
    position: relative;
    height: 60vw;
    padding: 0 1rem;
    background-image: url("../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color-bandsite-black;
        opacity: 50%;
        width: 100%;
        height: 100%;
    }

    &__title {
        @include font-header(0, 0, $primary-color-white);
        position: relative;
        z-index: 1;

        @include tablet {
            @include font-dt-page-header($primary-color-white);
        }
    }
}

.about {
    @include flexbox(column, normal, normal);
    gap: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;

    &__title {
        @include font-header(0, 0, $primary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($primary-color-bandsite-black);
        }
    }

    &__container {
        @include flexbox(column, normal, normal);
        gap: 1rem;
    }

    &__image {
        width: 100%;
    }

    &__quote {
        @include font-body-demi($primary-color-bandsite-black);

        @include tablet {
            @include font-dt-subheader($primary-color-bandsite-black);
        }
    }

    &__quote-author {
        @include font-body-demi($primary-color-bandsite-black);

        @include tablet {
            @include font-dt-footer-demi($primary-color-bandsite-black);
        }
    }

    &__subtitle {
        @include font-body-demi($primary-color-bandsite-black);
        padding-top: 0.5rem;

        @include tablet {
            @include font-dt-subheader($primary-color-bandsite-black);
        }
    }

    &__detail {
        @include font-body($primary-color-bandsite-black);

        @include tablet {
            @include font-dt-body($primary-color-bandsite-black);
        }
    }
}

.gallery {
    @include flexbox(column, normal, normal);
    gap: 1rem;
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: $secondary-color-alabaster;

    &__title {
        @include font-header(0, 0, $primary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($primary-color-bandsite-black);
        }
    }

    &__container {
        @include flexbox(column, normal, normal);
        flex-wrap: wrap;
        gap: 1rem;

        @include tablet {
            @include flexbox(row, center, center);
        }
    }

    &__image {
        @include flexbox(row, normal, normal);
        width: 100%;

        @include tablet {
            width: 30vw;
        }
    }
}

.footer {
    @include flexbox(column, normal, normal);
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: $primary-color-bandsite-black;

    @include tablet {
        position: relative;
    }

    &__socials-container {
        @include flexbox(column, normal, normal);
        gap: 1rem;
    }

    &__title {
        @include font-header(0, 0, $primary-color-white);

        @include tablet {
            @include font-dt-section-header($primary-color-white);
        }
    }

    &__icon-container {
        @include flexbox(row, normal, normal);
        gap: 2rem;
    }

    //     &__link {
    //     }

    //     &__icon {
    //     }

    &__container {
        @include flexbox(column, normal, normal);
        gap: 1.5rem;
    }

    &__contact-container {
        @include flexbox(column, normal, normal);
        gap: 1rem;
        @include font-body($primary-color-white);

        @include tablet {
            @include font-dt-footer($primary-color-white);
        }
    }

    &__org {
        @include font-body-demi($primary-color-white);

        @include tablet {
            @include font-dt-footer-demi($primary-color-white);
        }
    }

    // &__details-container {
    // }

    //     &__details {
    //     }

    //     &__email {
    //     }

    &__copyright-container {
        @include flexbox(column, normal, normal);
        gap: 0.5rem;
    }

    &__copyright {
        @include font-label($font-weight-regular);

        @include tablet {
            @include font-dt-footer($primary-color-white);
        }
    }
}
