@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// .main {
// }

.hero {
    @include background-image-hero-shows;

    &__subtitle {
        position: relative;
        z-index: 1;
        @include font-subheader(0, 0, $primary-color-white);

        @include tablet {
            @include font-dt-page-header;
        }
    }
}

.shows {
    @include flexbox(column, normal, normal);
    // gap: $spacing-xsm;
    padding: $spacing-sm $spacing-xsm $spacing-xsm;

    &__title {
        @include font-header($primary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($primary-color-bandsite-black);
        }
    }
}
