* {
  box-sizing: border-box;
}

a,
body,
button,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding-top: 1rem;
  background-color: #323232;
  color: #e1e1e1;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 3.5rem;
    padding: 0 0 0 2rem;
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 0 0 8rem;
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

.logo--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo--footer-top {
  display: none;
}
@media (min-width: 768px) {
  .logo--footer-top {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 7.5rem;
    height: 1.25rem;
    background-image: url("../../assets/logos/Logo-bandsite.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
.logo--footer-bottom {
  margin-top: 1.5rem;
  width: 7.5rem;
  height: 1.25rem;
  background-image: url("../../assets/logos/Logo-bandsite.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .logo--footer-bottom {
    display: none;
  }
}
.logo__link {
  width: 7.5rem;
  height: 1.25rem;
  background-image: url("../../assets/logos/Logo-bandsite.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  height: 2.5rem;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 3.5rem;
    height: 4rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    height: 5rem;
  }
}
.nav__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav__item--active {
  border-top: 3px transparent solid;
  border-bottom: 3px #ffffff solid;
  color: #ffffff;
  font-weight: 600;
}
.nav__item--active .nav__link {
  color: #ffffff;
}
.nav__item:hover {
  border-top: 3px transparent solid;
  border-bottom: 3px #ffffff solid;
}
.nav__item:hover .nav__link {
  color: #ffffff;
}
.nav__item:active .nav__link {
  font-weight: 600;
}
.nav__link {
  color: #e1e1e1;
  text-decoration: none;
}

.hero {
  position: relative;
  padding: 0 1rem;
  height: 60vw;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0 8rem;
    height: 50vw;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero__title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__title {
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.25rem;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 2rem;
  border-radius: 4px;
  background-color: #323232;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  border-style: none;
}
@media (min-width: 768px) {
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 25%;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
  }
}
.btn:hover {
  background-color: #000000;
}

.label {
  color: #afafaf;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer {
    gap: 2rem;
    padding: 3rem 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 8rem;
  }
}
.footer__socials-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
@media (min-width: 768px) {
  .footer__socials-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: baseline;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__socials-container {
    position: relative;
    gap: 4rem;
  }
}
.footer__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .footer__title {
    color: #ffffff;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
  }
}
.footer__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 2rem;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.footer__icon {
  height: 1.5rem;
}
.footer__info-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
  }
}
@media (min-width: 1280px) {
  .footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 5rem;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  color: #e1e1e1;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer__contact-container {
    gap: 1.5rem;
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
.footer__org {
  margin: 0 0 0;
  color: #e1e1e1;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .footer__org {
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
  }
}
.footer__email a {
  color: #e1e1e1;
  text-decoration: none;
}
.footer__copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
}
.footer__copyright {
  color: #e1e1e1;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2");
  font-weight: 700;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
  height: 18.75rem;
  background-image: url("../../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .hero {
    height: 29rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 38rem;
  }
}
.hero__subtitle {
  position: relative;
  z-index: 1;
  margin: 0 0 0;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero__subtitle {
    margin: 0 0 0;
    color: #ffffff;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.hero__title {
  width: 75%;
}
@media (min-width: 1280px) {
  .hero__title {
    width: 45%;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__player {
  position: relative;
  z-index: 1;
  height: 7.25rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .hero__player {
    margin-top: 1.5rem;
    width: 25rem;
  }
}
.shows {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  padding: 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .shows {
    gap: 1.5rem;
    padding: 3rem 1rem 2rem 1rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    gap: 0;
    padding: 4rem 7rem 3rem 8rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.shows__title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .shows__title {
    color: #000000;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    padding: 0 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding: 0;
  }
}
.shows__list {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  list-style-type: none;
}
@media (min-width: 1280px) {
  .shows__list {
    width: 70%;
  }
}
.shows__label-container {
  display: none;
}
@media (min-width: 768px) {
  .shows__label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }
}
.shows__item {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .shows__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    color: #000000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .shows__content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 25%;
  }
}
.shows__date {
  font-weight: 600;
}
@media (min-width: 768px) {
  .label--top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 33%;
  }
}
.label--repeated {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .label--repeated {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */