@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

// .main {
// }

.hero {
    @include flexbox(column, center, normal);
    gap: $spacing-xsm;
    height: 18.75rem;
    @include background-image-hero-shows;

    @include tablet {
        height: 29rem;
    }

    @include desktop {
        height: 38rem;
    }

    &__subtitle {
        position: relative;
        z-index: 1;
        @include font-subheader(0, 0, $primary-color-white);
        font-weight: $font-weight-regular;

        @include tablet {
            @include font-dt-subheader(0, 0, $primary-color-white);
        }
    }

    &__title {
        width: 75%;

        @include desktop {
            width: 45%;
        }
    }

    &__container {
        @include desktop {
            @include flexbox(row, space-between, center);
        }
    }

    // &__player-container {
    // }

    &__player {
        position: relative;
        z-index: 1;
        height: 7.25rem;
        margin-top: $spacing-xsm;

        @include tablet {
            margin-top: $spacing-sm;
            width: 25rem;
        }

        @include desktop {
            // position: absolute;
            // top: 0;
            // right: 0;
        }
    }
}

.shows {
    @include flexbox(column, normal, normal);
    gap: $spacing-xsm;
    padding: $spacing-xsm $spacing-xsm $spacing-xsm;

    @include tablet {
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-xsm $spacing-med $spacing-xsm;
    }

    @include desktop {
        gap: 0;
        padding: calc($spacing-xsm * 4) calc($spacing-xlg - 1rem) $spacing-lg $spacing-xlg;
    }

    @include desktop {
        @include flexbox(row, space-between, flex-start);
    }

    &__title {
        @include font-header($secondary-color-bandsite-black);

        @include tablet {
            @include font-dt-section-header($secondary-color-bandsite-black);
            padding: 0 $spacing-xsm;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__list {
        @include flexbox(column, normal, normal);
        list-style-type: none;

        @include desktop {
            width: 70%;
        }
    }

    &__label-container {
        display: none;

        @include tablet {
            @include flexbox(row, space-between, center);
            width: 100%;
            padding: 0 $spacing-xsm;
        }
    }

    &__item {
        @include flexbox(column, normal, normal);
        gap: $spacing-xsm;
        border-bottom: 1px solid $secondary-color-mercury;
        padding: $spacing-xsm 0;
        @include font-dt-body($secondary-color-bandsite-black, $font-weight-regular);

        @include tablet {
            @include flexbox(row, space-between, center);
            width: 100%;
            padding: $spacing-xsm $spacing-xsm;
            // gap: 48px;
            @include font-dt-body($secondary-color-bandsite-black, $font-weight-regular);
        }

        &:hover {
            background-color: $secondary-color-alabaster;
        }

        &--selected {
            background-color: $secondary-color-mercury;

            &:hover {
                background-color: $secondary-color-mercury;
            }
        }
    }

    &__content-container {
        @include tablet {
            @include flexbox(row, flex-start, center);
            flex: 1;
            max-width: 25%;
        }
    }

    &__date {
        font-weight: $font-weight-demi;
    }

    // &__venue {
    // }

    // &__location {
    // }
}

.label {
    &--top {
        @include tablet {
            @include flexbox(row, flex-start, center);
            flex: 1;
            max-width: 33%;
        }
    }

    &--repeated {
        margin-bottom: 0.5rem;
        @include tablet {
            display: none;
        }
    }
}
